#section1 p {
  display: none;
}

#section2 p {
  display: none;
}

#section3 p {
  display: none;
}
.nightbtn {
  display: none;
}
.nightmode {
  background-color: black;
  color: red;
}

.nightmode .daybtn {
  display: none;
}

.nightmode .nightbtn {
  display: block;
}
